body{
    font-family: "Times New Roman";
    background-color: white;
    text-align: center;
}
    
#main-banner{
    background: url('../img/banner.jpg') no-repeat;
    background-size: cover;
    position: relative;
}
    
#botao{
    position: relative;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding: 15em 0em;
    text-align: center;
}
    
#botao h1{
    font-size: 60px;
    color: white;
}
    
#botao h2{
    color: white;
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 300;
}
    
#botao input{
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    background-color: rgb(3, 156, 3);
    color: white;
    cursor: pointer;
    transition: 0.5%;
}
    
#botao input:hover{
    background-color: rgb(2, 199, 2);
}
    
article.bloco1{
    background-color: white;
    background-size: 100%;
}
    
div.g-serv img{
    border: 7px inset;
    border-color: #ffc60b; 
    background-color: #ffc60b;
    height: 70px;
    width: 70px;
}
    
div.g-serv {
    margin: 5px;
    display: inline-block;
    width: 180px;
}
    
div.g-serv:hover {
    border: 1px solid #777;
    cursor: pointer;
    padding-top: 7px;
    transition: 0.5%;
}
    
div.g-serv strong{
    font-size: 17px;
}
    
div.g-serv p{
    font-size: 14px;
    color: rgb(158, 158, 158);
}
    
article.bloco2{
    background-color:rgb(233, 229, 229);
    background-size: 100%;
    margin: 0px;
}
    
div.g-obras img{
    height: 120px;
    width: 200px;
}
    
div.g-obras {
    margin: 20px;
    display: inline-block;
    width: 210px;
    border: 1px solid white;
    padding-bottom: 1rem;
    background-color: white;
}
    
article.bloco3{
    background-color:white;
    background-size: 100%;
}

.row.no-gutters#imagem img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid 4px #d3d3d3;
    position: relative;
    z-index: 999999;
}

#imagem{
    text-align: right;
}

#legenda{
    border-left: solid 3px #d3d3d3;
    padding-left: 70px;
    margin-right: 150px;
    padding-bottom: 10px;
    text-align: left;
    margin-left: -51px;
}

#legenda h4{
    font-size: 16px;
}

.bloco3 p{
    font-size: 14px;
    color: rgb(158, 158, 158);
}

.bloco3 h2{
    margin-bottom: -2px;
}


article.bloco4{
    background-color:rgb(233, 229, 229);
    background-size: 100%;
    margin: 0px;
}
    
.parceiros{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid 4px #d3d3d3;
    margin-bottom: 10px;
}
    
div.g-parceiros {
    margin: 20px;
    display: inline-block;
    width: 180px;
}

article.bloco5{
    background-color: white;
    background-size: 100%;
    margin: 0px;
}

.bloco3 h6{
    margin-bottom: -2px;
}

.bloco5 p{
    font-size: 14px;
    color: rgb(158, 158, 158);
    margin-bottom: 5px;
    margin-top: -10px;
}

.time{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid 4px rgb(214, 208, 208);
    margin-bottom: 10px;
}

img.icone1{
    height: 30px;
    width: 30px;
    margin: 2px 0px 2px 2px;
    padding: -5px;
    border-radius: 50%;
}

img.icone2{
    height: 25px;
    width: 25px;
    margin: 2px 2px 2px 8px;
    padding: 0px;
    border-radius: 50%;
}

div.g-time {
    margin: 5px;
    display: inline-block;
    width: 180px;
}

.bloco6{
    background-color: black;
    padding-bottom: 1rem;
    margin: 0px;
}
    
.bloco6 h2{
    color:white;
    margin-bottom: -2px;
}

.bloco6 p{
    font-size: 14px;
    color: #777;
}

input#dado{
    width: 75vw;
    margin-bottom: 2rem;
    background-color: white;
    color: #777;
}

input#mensagem{
    width: 75vw;
    height: 200px;
    margin-bottom: 2rem;
    background-color: white;
    color: #777;
}

form input#botao{
    width: 124px;
    height:51px;
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    background-color: rgb(3, 156, 3);
    color: white;
    cursor: pointer;
    transition: 0.5%;
}
    
form input#botao:hover{
    background-color: rgb(2, 199, 2);
}

footer p{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}