body{
    font-family: "Times New Roman";
    background-color: darkblue;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

img{
    display: inline-block;
    border: 7px inset;
    border-color: #ffc60b; 
    background-color: #ffc60b;
    height: 70px;
    width: 70px;
    text-align: center;
}
